﻿body
{
    margin:0;
    font-family:Arial;
    /*background-color:#F5F5F5;*/
}

.button
{
    /*min-width: 80px;*/
    height: 35px;
    width: 230px;
    margin: 2px 0 2px 2px;
    text-transform: capitalize;
    background-color: #3A66AF;
    border-radius:5px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.1);	
    color:White;
    border:0px;
}

.button:hover
{
  /*min-width: 80px;*/
    height: 35px;
    width: 230px;
    margin: 2px 0 2px 2px;
    text-transform: capitalize;
   background-color: #004B63;
    font-weight:bold;
    border-radius:5px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.5);	
    color:White;
    border:0px;
}

.button:focus
{
    /*min-width: 80px;*/
    height: 35px;
    width: 230px;
    margin: 2px 0 2px 2px;
    text-transform: capitalize;
    background-color: #004B63;
    font-weight:bold;
    color:White;
    border:1px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.5);	
}

.buttonpopup
{
    /*min-width: 80px;*/
    height: 35px;
     /*width: 230px;*/
    margin: 2px 0 2px 2px;
    text-transform: capitalize;
    background-color: #3A66AF;
    border-radius:5px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.1);	
    color:White;
    border:0px;
}

.buttonpopup:hover
{
  /*min-width: 80px; 
    width: 230px;*/  
     height: 35px;
    margin: 2px 0 2px 2px;
    text-transform: capitalize;
    background-color: #FCAF2C;
    font-weight:bold;
    border-radius:5px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.5);	
    color:Black;
    border:0px;
}

.buttonpopup:focus
{
     /*min-width: 80px; 
    width: 230px;*/  
     height: 35px;
    margin: 2px 0 2px 2px;
    text-transform: capitalize;
    background-color: #FCAF2C;
    font-weight:bold;
    color:Black;
    border:1px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.5);	
}
/*
.button
{   
    width:80px;
    height:23px;
    font-size:10px;
    font-weight:bold;
    margin:3px 3px 3px 0px;
    color:White;
    text-transform:uppercase;
    background-image:url('../Content/Images/blueGrad.jpg');
    background-repeat:repeat;
    background-color:transparent;
    border:0;
}

.button:hover
{   
    width:80px;
    height:23px;
    font-weight:bold;
    color:White;
    text-transform:uppercase;
    background-image:url('../Content/Images/blueGrad.jpg');    
    background-position:0 -23px;
    background-repeat:repeat;
    background-color:transparent;
}
*/
.header
{
    border-bottom:3px solid;
    /*border-color: #FFF #AAA #AAA #FFF;
    border-color: #ccc #ccc #aaa #ccc;*/
    border-color: #3A66AF;
    /* background-color:#EFEFEF; */
    height:50px;
}

.header_logo
{
    height: 42px;
    margin:2px;
}

.bottom
{
    bottom:0;
    text-align:center;
    position:fixed;
    width:100%;
    font-family:Arial;
    font-size:12px;
    padding:5px;
    background-color:#EFEFEF;
    border-top:1px solid;
    border-top-color:#ccc;
}

.box_border_outer
{
    border:1px groove;
    padding:4px;
    /*border-color: #FFF #AAA #AAA #FFF;*/
    /*border-color: #4b6c9e;*/
    /*background-color:#3A66AF;*/
    width:500px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.5);	
}

.box_border_outernew
{
    border:1px groove;
    padding:4px;
    /*border-color: #FFF #AAA #AAA #FFF;*/
    /*border-color: #4b6c9e;*/
    background-color:White;
    height:510px;
    box-shadow:0 0 20px 7px rgba(0,0,0,0.5);	
    border-radius:40px;
}

.box_border_inner
{
    border:1px solid;
    border-color: #FFF #AAA #AAA #FFF;
    background-color:white;
}

.login_box
{
    width:100%;
}

.login_box_header
{
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    font-family:Arial;
    font-size:14px;
}

.login_box_row
{
    font-family:Arial;
    font-size:14px;
    text-align:left
}
   
 .logintextbox
{
    font-family:Arial;
    font-size:14px;
    border:none;
    border-bottom: solid 1px rgba(0,0,0,0.1); 
}

.logintextbox:focus
{
    outline:none;
    font-family:Arial;
    font-size:14px;
    border:0;    
    border-bottom: solid 1px rgba(13,126,164,0.8); 
    background-color:#CEE5EC;
    
}
 
.mydropdownlist1
{
color: Black;
font-family:Arial;
font-size: 14px;
padding: 5px 10px;
border-radius: 5px 12px;
background-color: #00AFEF50;
font-weight: normal;
}

.keep_signin
{
    font-family:Arial;
    font-size:12px;
}

.button_panel
{
   /*float:right;*/
   margin-right:10px;
   width:100%;
}

.link_panel
{
    float:left;
    height: 12px;
}

.lost_link
{
    text-decoration:none;
    color:Black;
    font-family:Arial;
    font-size:10px;
    font-weight:bold;
    margin-left:10px;
}

.msg_label
{
    font-family:Arial;
    font-size:12px;
    font-weight:bold;
    margin:5px;
    padding:5px;
    color:Red;
}

.forgotPwd_para
{
	width:70%;
	font-family:Arial;
	font-size:12px;
	text-align:left;
}
.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

.modalPopup
{
	background-color: #ffffff;
	font-family: Segoe UI;
	border-width: 3px;
	border-style: solid;
	border-color: #6F92BE;
	width: 300px;
}
.modalPopupBig
{
	background-color: #ffffff;
	font-family: Segoe UI;
	border-width: 3px;
	border-style: solid;
	border-color: #6F92BE;
	width: 500px;
}
.modalPopupHold
{
	background-color: #ffffff;
	font-family: Segoe UI;
	border-width: 3px;
	border-style: solid;
	border-color: #6F92BE;
	width: 420px;
	height: 125px;
}