﻿<%@ Page Title="Invoice Register" Language="C#" MasterPageFile="~/LRSite.Master" 
AutoEventWireup="true" CodeBehind="InvoiceRegister.aspx.cs" Inherits="prjLRTrackerFinanceAuto.Pages.InvoiceRegister" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="CenterContentPlaceHolder" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolderScripts" runat="server">
</asp:Content>
