﻿html
{
    height: 100%;
    width: 100%;
}

body
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#logo
{
    padding: 10px 5px 0px 5px;
}

.parentDiv
{
    float: left;
    height: 100%;
    width: 100%;
}

.ui-layout-north
{
    border-bottom: #247BFF none;
    background-color: White;
    font-size: 13px;
    z-index:99999 !important;
}

.ui-layout-center
{
    background-color: White;
    font-size: 13px;
    overflow: auto;
    border-top: 2px solid #3A66AF;
    border-left: 2px solid #3A66AF;
    border-bottom: 2px solid #3A66AF;
    padding: 0;
    margin: 2px 0px 0px 0px !important;
}

.ui-layout-west
{
    border-top: 2px solid #3A66AF;
    border-bottom: 2px solid #3A66AF;
    border-left: 0;
    overflow: auto; /*top: 0px; 	left: 0px;*/
    background-color: White;
    margin: 2px 0px 0px 0px !important;
}

.ui-layout-south
{
    font-size: 13px;
    color: #3A66AF;
    text-align: center;
    box-shadow:0 0 555px 22px #3A66AF;	
}

